@{
    ViewBag.Title = "Contact";
    
}
<style>
body {background-color:lightgrey}
</style>
 <body><h2>Contact</h2>


<address>
Email us at:<br> <a href="bcsf11a039@pucit.edu.pk">Email ID</a><br> 

Box 5400, Lahore<br>
Pakistan
</address>
   </body>


